@keyframes glitchLoop1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(20px, 9999px, 92px, 0);
    }
    to {
        clip: rect(100px, 9999px, 98px, 0);
    }
}
@-webkit-keyframes glitchLoop1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(20px, 9999px, 92px, 0);
    }
    to {
        clip: rect(100px, 9999px, 98px, 0);
    }
}

@keyframes glitchLoop2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -8px;
        left: 2px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0;
        left: -2px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    to {
        top: -1px;
        left: -4px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}


@-webkit-keyframes glitchLoop2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -8px;
        left: 2px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0;
        left: -2px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    to {
        top: -1px;
        left: -4px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}
